.app {
  width: 60%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px auto;
  min-width: 200px;
  max-width: 500px;
}

.app .app-content {
  padding: 20px 0 0 0;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto; 
}

.app [class^="flaticon-"]:before,
.app [class*=" flaticon-"]:before,
.app [class^="flaticon-"]:after,
.app [class*=" flaticon-"]:after {
    margin: 0; 
}
 